
/*Nav and selectCountries CSS*/

.navbar {
    width: 100%;
    background-color: black;
    color: white;
    height:100%;
    margin: 0;
    overflow: hidden;
    padding-left:2%;
}

header {
    height: 10%;
}

#map {
    width: 100%;
    height: calc(100vh - 10%);
}

body {
    height: 100vh;
    
    margin: 0;
    padding: 0;
}

.button-image{
    display:flex;
    height:100%;
}

/* Modal CSS */

.leaflet-bar button {
    height: 56px; /* easyButton's height default */
    width: 56px;  /*  easyButton's width default */
  }

  tr:nth-child(odd) {
    background-color: rgba(144, 238, 144, .5);
  }

  .modal-header{
    background-color: grey;
    color: white;
    text-decoration: solid;
  }